:root {
    --DarkGray: #4c4c4c;
    --Pink:#f865b8;
    --Pink2:#fd85ce;
    --Blue:#3867f4;
    --white:white;
    --yellow:#ffd61c;
    --green:#6be848;
    --lila:#8924c1;
    --red:#f00;
    --turquoise:#58f9f3;
    --orange: #fd6b00
    --lila:#c600cc;
    --green2:#3d9d35;
    --orange2:#FDAF6A;

}

body{
    background: var(--DarkGray);
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /*background: #f27fb8;*/
    height: 100vh;
    width: 100vw;
    justify-items: center;
    /* align-items: center; */
}


.homer{
    /* background: white; */
    /* width: 200px; */
    height: 400px;
    grid-column: 1;
    grid-row: 2;

}

.size{
    height: 35vw;
    width: 35vw;
}
.size_spk{
    height: 25vw;
    width: 25vw;
}

.position-grid{
    grid-row: 1;
    grid-column: 1;
}

.container-sprinkles{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    display: grid;
    /* align-items: center; */
    justify-items: center;
}

.container-donut{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    /*background: yellow;*/
    justify-items: center;
    align-items: center;

}

.donut{
    display: grid;
    background:var(--orange2);
    clip-path: circle(50% at 50% 50%);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* .glazed{ */
/*     background: var(--Pink); */
/*     margin: 15px 0px 0px 0px; */
/* } */

.circle{
    display: grid;
    background:var(--DarkGray);
    height:10vw;
    width: 10vw;
    grid-row: 2;
    grid-column: 2;
    border-radius: 100%;
    /* clip-path: circle(50% at 50% 50%); */
}
/*Test*/
.size-glazed{
    height: 13vw;
    width: 13vw;
    background: var(--Pink2);
    height: 25vw;
    width: 25vw;
}

.glazed{
    display: grid;
    /* margin: 15px 0px 0px 0px; */
    border-radius: 50%;
    z-index: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

/* .glazed-1{ */
/*     display: grid; */
/*     margin: 15px 0px 0px 0px; */
/*     border-radius: 30%; */
/*     transform: rotate(45deg); */
/*     grid-template-columns: 1fr 1fr 1fr; */
/*     grid-template-rows: 1fr 1fr 1fr; */

/* } */

/* .glazed-2{ */
/*     transform: rotate(90deg); */
/* } */

.sprinkle{
    /* height: 15px; */
    /* width: 40px; */
    height: 4px;
    width: 10px;
    background: var(--turquoise);
    border-radius: 50px;
    z-index: 1;
}

.sprinkles01{
    grid-row: 2;
    grid-column: 5;
    transform: rotate(45deg);
}

.sprinkles02{
    grid-row: 2;
    grid-column: 6;
    background: var(--Blue);
    transform: rotate(-45deg);
}

.sprinkles03{
    grid-row: 3;
    grid-column: 3;
    background: var(--lila);
    transform: rotate(-45deg);
}

.sprinkles04{
    grid-row: 3;
    grid-column: 4;
    background: var(--green);
    transform: rotate(-15deg);
}

.sprinkles05{
    grid-row: 3;
    grid-column: 5;
    background: var(--yellow);
    transform: rotate(15deg);
}

.sprinkles06{
    grid-row: 3;
    grid-column: 6;
    background: var(--white);
    transform: rotate(110deg);
}

.sprinkles07{
    grid-row: 3;
    grid-column: 7;
    background: var(--green);
    transform: rotate(-40deg);
}

.sprinkles08{
    grid-row: 3;
    grid-column: 8;
    background: var(--turquoise);
    transform: rotate(20deg);
}

.sprinkles09{
    grid-row: 4;
    grid-column: 2;
    background: var(--red);
    transform: rotate(20deg);
}

.sprinkles10{
    grid-row: 4;
    grid-column: 3;
    background: var(--white);
    transform: rotate(70deg);
}

.sprinkles11{
    grid-row: 4;
    grid-column: 4;
    background: var(--Blue);
    transform: rotate(-170deg);
}

.sprinkles12{
    grid-row:4;
    grid-column:9;
    background:var(--green2);
    transform:rotate(-170deg);
}

.sprinkles13{
    grid-row: 4;
    grid-column: 8;
    background: var(--red);
    transform: rotate(-70deg);
}

.sprinkles14{
    grid-row: 4;
    grid-column: 7;
    background: var(--lila);
    transform: rotate(-45deg);

}

.sprinkles15{
    grid-row: 5;
    grid-column: 2;
    background: var(--green2);
    transform: rotate(-45deg);
}

.sprinkles16{
    grid-row: 5;
    grid-column: 3;
    background: var(--green);
    transform: rotate(45deg);
}

.sprinkles17{
    grid-row: 5;
    grid-column: 8;
    background: var(--white);
    transform: rotate(5deg);
}

.sprinkles18{
    grid-row: 5;
    grid-column: 9;
    background: var(--Blue);
    transform: rotate(55deg);
}

.sprinkles19{
    grid-row: 6;
    grid-column: 2;
    background: var(--red);
    transform: rotate(105deg);
}

.sprinkles20{
    grid-row: 6;
    grid-column: 3;
}

.sprinkles21{
    grid-row: 6;
    grid-column: 8;
}

.sprinkles22{
    grid-row: 6;
    grid-column: 9;
}

.sprinkles23{
    grid-row: 7;
    grid-column: 2;
}

.sprinkles24{
    grid-row: 7;
    grid-column: 3;
}

.sprinkles25{
    grid-row: 7;
    grid-column: 8;

}

.sprinkles26{
    grid-row: 7;
    grid-column: 9;
}

.sprinkles27{
    grid-row: 8;
    grid-column: 2;

}

.sprinkles28{
    grid-row: 8;
    grid-column: 3;
}

.sprinkles29{
    grid-row: 8;
    grid-column: 4;
}

.sprinkles30{
    grid-row: 8;
    grid-column: 5;
}

.sprinkles31{
    grid-row: 8;
    grid-column: 6;
}

.sprinkles32{
    grid-row: 8;
    grid-column: 7;
}

.sprinkles33{
    grid-row: 8;
    grid-column: 8;
}

.sprinkles34{
    grid-row: 8;
    grid-column: 9;
}

.sprinkles35{
    grid-row: 9;
    grid-column: 3;
}

.sprinkles36{
    grid-row: 9;
    grid-column: 4;
}

.sprinkles37{
    grid-row: 9;
    grid-column: 5;
}

.sprinkles38{
    grid-row: 9;
    grid-column: 6;
}

.sprinkles39{
    grid-row: 9;
    grid-column: 7;
}

.sprinkles40{
    grid-row: 9;
    grid-column: 8;
}

.sprinkles41{
    grid-row: 10;
    grid-column: 5;
}

.sprinkles42{
    grid-row: 10;
    grid-column: 6;
}
