:root {
    --DarkGray: #4c4c4c;
    --Pink:#ff38a8;
    --Pink2:#ffa4dc;
    --Blue:#3867f4;
    --White:white;
    --Yellow:#ffd61c;
    --Green:#6be848;
    --Lila:#8924c1;
    --Red:#f00;
    --Turquoise:#58f9f3;
    --Orange:#f76a04;
    --Lila2:#c600cc;
    --Green2:#3d9d35;
    --Orange2:#F9A154;
    --LightBlue:#04adff99;

}

body {
    background: var(--DarkGray);
    margin: 0px;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
}

.contain-dunut-homer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    /* height: 70vh; */
}

.homer {
    display: grid;
    /* background: white; */
    /* width: 200px; */
    /* height: 400px; */
    /* max-width: 300px; */
    /* min-width: 90px; */
    grid-column: 1;
    grid-row: 2;
    align-self: end;

}
img {
    /* animation: myfirst 5s 2s infinite alternate; */

}


.position-grid{
    grid-row: 1;
    grid-column: 1;
}

.container-sprinkles{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    display: grid;
    /* align-items: center; */
    justify-items: center;

    height: 25vw;
    width: 25vw;
    /* min-width: 160px; */
    /* min-height: 160px; */
    /* min-width: 260px; */
    /* min-height: 260px; */
}

.container-of-container{
    display: grid;
    /* grid-column: 1; */
    /* grid-row: 1; */
    /*background: yellow;*/
    justify-items: center;
    align-items: center;
    height: 330px;
    width: 330px;
    align-self: end;
}

.container-donut{
    display: grid;
    /* grid-column: 1; */
    /* grid-row: 1; */
    /*background: yellow;*/
    justify-items: center;
    align-items: center;
    height: 28vw;
    width: 28vw;
    /* align-self: end; */
    animation: my-animation linear 5s infinite;
}

.donut{
    display: grid;
    background:var(--Orange2);
    /* clip-path: circle(50% at 50% 50%); */
    height: 28vw;
    width: 28vw;
    /* border: 2px solid black; */
    border-radius: 50%;
    animation: size 5s;
}

@keyframes my-animation {
    0%   {
        transform: rotate(360deg) scale(0.8);
    }

    /* 50%{ */
    /*     height: 28vw; */
    /*     width: 28vw; */
    /* } */
    /* 100%{ */
    /*     height: 26vw; */
    /*     width: 26vw; */
    /* } */
}

/* @keyframes size { */
/*     0%{ */
/*         height: 23vw; */
/*         width: 23vw; */
/*     } */
/* } */

.circle{
    display: grid;
    background:var(--DarkGray);
    height:9vw;
    width: 9vw;
    grid-row: 2;
    grid-column: 2;
    border-radius: 100%;
    /* min-height: 80px; */
}

.glazed{
    display: grid;
    /* margin: 15px 0px 0px 0px; */
    border-radius: 50%;
    z-index: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: var(--Pink2);
    height: 22vw;
    width: 22vw;
    /* min-width: 260px; */
    /* min-height: 260px; */

}

.sprinkle{
    height: 6px;
    width: 16px;
    /* min-width: 5px; */
    /* min-height: 5px; */
    background: var(--turquoise);
    border-radius: 50px;
    z-index: 1;
}

.sprinkles01{
    grid-row: 2;
    grid-column: 5;
}

.sprinkles02{
    grid-row: 2;
    grid-column: 6;
}

.sprinkles03{
    grid-row: 3;
    grid-column: 3;
}

.sprinkles04{
    grid-row: 3;
    grid-column: 4;
}

.sprinkles05{
    grid-row: 3;
    grid-column: 5;
}

.sprinkles06{
    grid-row: 3;
    grid-column: 6;
}

.sprinkles07{
    grid-row: 3;
    grid-column: 7;
}

.sprinkles08{
    grid-row: 3;
    grid-column: 8;
}

.sprinkles09{
    grid-row: 4;
    grid-column: 2;
}

.sprinkles10{
    grid-row: 4;
    grid-column: 3;
}

.sprinkles11{
    grid-row: 4;
    grid-column: 4;
}

.sprinkles12{
    grid-row:4;
    grid-column:9;
}

.sprinkles13{
    grid-row: 4;
    grid-column: 8;
}

.sprinkles14{
    grid-row: 4;
    grid-column: 7;

}

.sprinkles15{
    grid-row: 5;
    grid-column: 2;
}

.sprinkles16{
    grid-row: 5;
    grid-column: 3;
}

.sprinkles17{
    grid-row: 5;
    grid-column: 8;
}

.sprinkles18{
    grid-row: 5;
    grid-column: 9;
}

.sprinkles19{
    grid-row: 6;
    grid-column: 2;
}

.sprinkles20{
    grid-row: 6;
    grid-column: 3;
}

.sprinkles21{
    grid-row: 6;
    grid-column: 8;
}

.sprinkles22{
    grid-row: 6;
    grid-column: 9;
}

.sprinkles23{
    grid-row: 7;
    grid-column: 2;
}

.sprinkles24{
    grid-row: 7;
    grid-column: 3;
}

.sprinkles25{
    grid-row: 7;
    grid-column: 8;

}

.sprinkles26{
    grid-row: 7;
    grid-column: 9;
}

.sprinkles27{
    grid-row: 8;
    grid-column: 2;

}

.sprinkles28{
    grid-row: 8;
    grid-column: 3;
}

.sprinkles29{
    grid-row: 8;
    grid-column: 4;
}

.sprinkles30{
    grid-row: 8;
    grid-column: 5;
}

.sprinkles31{
    grid-row: 8;
    grid-column: 6;
}

.sprinkles32{
    grid-row: 8;
    grid-column: 7;
}

.sprinkles33{
    grid-row: 8;
    grid-column: 8;
}

.sprinkles34{
    grid-row: 8;
    grid-column: 9;
}

.sprinkles35{
    grid-row: 9;
    grid-column: 3;
}

.sprinkles36{
    grid-row: 9;
    grid-column: 4;
}

.sprinkles37{
    grid-row: 9;
    grid-column: 5;
}

.sprinkles38{
    grid-row: 9;
    grid-column: 6;
}

.sprinkles39{
    grid-row: 9;
    grid-column: 7;
}

.sprinkles40{
    grid-row: 9;
    grid-column: 8;
}

.sprinkles41{
    grid-row: 10;
    grid-column: 5;
}

.sprinkles42{
    grid-row: 10;
    grid-column: 6;
}



@media (max-width: 360px) {
  img {
   width: 200px;
   height: 200px;
  }

  .sprinkle {
      height: 4px;
      width: 10px;
  }
}
